* {margin:0;padding:0;}
:root {
  --base-board-width: 400px;
  --base-board-height: 580px;
  --base-block-width: 76px;
  --base-block-height: 42px;
  --base-qianxian-width: 45px;
  --base-qianxian-height: 15px;
  --base-xingying-width: 60px;
  --base-xingying-height: 40px;
  --base-bingzhan-width: 50px;
  --base-bingzhan-height: 18px;
  --base-dabenying-width: 66px;
  --base-dabenying-height: 30px;
  --base-qizi-width: 55px;
  --base-qizi-height: 22px;
}

#junqi {
	margin:15px auto;
	padding:1px;
	border:5px solid #999;
	width:var( --base-board-width );
	height:var( --base-board-height) ;
}
#junqi ul {
	padding:2px 0 0 2px;
	background:white;
	height:var( --base-block-height) ;
}
#junqi li {
	float:left;
	width: var( --base-block-width );
	height: var( --base-block-height ); 
	margin:0 2px 2px 0;
	list-style:none;
	background:white;
	text-align:center;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
#junqi .bingzhan {
	width: var( --base-bingzhan-width );
	height: var( --base-bingzhan-height );
    line-height: var( --base-bingzhan-height );
	background: white; 
	border:1px solid gray;
	text-align:center;
	z-index:1;
	position:absolute;
} 
#junqi .xingying {
    width: var( --base-xingying-width );
	height: var( --base-xingying-height ); 
	line-height: var( --base-xingying-height );
	background: white; 
	border:1px solid gray;
	border-radius: 50%;
	text-align:center;
	z-index:1;
	position:absolute;
} 
#junqi .dabenying { 
	width: var( --base-dabenying-width );
	height: var( --base-dabenying-height ); 
	line-height: var( --base-dabenying-height );
	background: #999; 
	border:2px solid gray;
	text-align:center;
	z-index:1;
	position:absolute;
} 
#junqi .qianxian { 
	width: var( --base-qianxian-width );
	height: var( --base-qianxian-height ); 
	line-height: var( --base-qianxian-height );
	background: white; 
	border:1px dashed gray;
	text-align:center;
	z-index:999;
}
#junqi .lanfangqizi {
	width: var( --base-qizi-width );
	height: var( --base-qizi-height );
	line-height: var( --base-qizi-height );
    background: #FFFF99;
	border:3px solid blue;
	text-align:center;
	z-index:999;
}
#junqi .hongfangqizi {
    width: var( --base-qizi-width );
    height: var( --base-qizi-height );
    line-height: var( --base-qizi-height );
    background: #FFFF99;
    border:3px solid red;
    text-align:center;
	z-index:999;
}
#junqi .lanfangan {
	width: var( --base-qizi-width );
	height: var( --base-qizi-height );
	line-height: var( --base-qizi-height );
	background: black;
	border:4px solid gray;
	color:black;
	text-align:center;
	z-index:999;
}
#junqi .hongfangan {
	width: var( --base-qizi-width );
	height: var( --base-qizi-height );
	line-height: var( --base-qizi-height );
	background: black;
	border:4px solid gray;
	color:black;
	text-align:center;
	z-index:999;
}